body {
  background-color: pink; /* เปลี่ยนสีพื้นหลังของหน้าเว็บ */
}

.navbar {
    background-color: #007bff;
}
.nav-link {
    color: #333; /* เปลี่ยนสีของข้อความใน tabs */
    font-weight: bold; /* เพิ่ม font-weight ให้ข้อความใน tabs เป็นตัวหนา */
  }
.nav-link.active {
    background-color: #007bff; /* เปลี่ยนสีพื้นหลังของ tab ที่เลือก */
    color: #fff; /* เปลี่ยนสีของข้อความใน tab ที่เลือก */
  }
  